{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "@aimerfan/typescript",
        "plugin:vue/vue3-essential"
    ],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "ignorePatterns": [
        "!docs/.vitepress",
        "!components/**/*.vue",
        "docs/.vitepress/cache",
        "docs/.vitepress/dist"
    ],
    "rules": {
        "vue/multi-word-component-names": "off"
    }
}
